  
@font-face {
		src: url(fonts/Roobert-Regular.otf);
		font-family: Roobert;
}


#chat {
	position:fixed;
	width: 350px;
	height: 100%;
	right:0%;
	top:0%;
}

.container {
	position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: calc(100% - 350px);
}

#text {
	position:fixed;
	right:353px;
	top: -1.5%;
}

#anime{
	margin:0px;
	position:absolute;
	width:92%;
	height:81%;
	border-style: solid;
	
	

}
body{
	height:100%;
	
	margin:0px;
}
#eve{
}

#stream{

}
#chat{
	position:fixed;
}
