  
@font-face {
		src: url(fonts/Roobert-Regular.otf);
		font-family: Roobert;
}


.chat {
	position:fixed;
	width: 35%;
	height: 100%;
	right:-5%;
	top:0%;
	background-color: blue;
}

.container {
	position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  width: calc(100% - 350px);
}

#text {
	position:fixed;
	right:353px;
	top: -1.5%;
}

.stream{
	background-color: red;
	height:25%;
	width:70%;
	float:left;
	
	}
.anime{
	
	background-color: red;
	height:75%;
	width:70%;
	float:left;
	

}
html,body{

	background-color:#0e0e10;
	margin:0px;
	height:100%;
	
}


